<!DOCTYPE html>
<html>

<!-- /*===========================Head=============================*/ -->

	<head>
		<title> Tim Waterham </title>
		<meta charset="UTF-8">
		<link href="../assets/style.css" rel="stylesheet" type="text/css" />
	</head>

<!-- /*===========================Head=============================*/ -->

<!-- /*============================================================*/ -->

<!-- /*=========================BodyStart==========================*/ -->

	<body>
		<div>

<!-- /*===========================Menu=============================*/ -->

	<nav class="dropdownmenu">
		<ul class="menu">
  			<li class="menu2"><a href="../index.html">Home</a></li>
  			<li class="menu2"><a href="">Over mijn Hobby</a></li>
  				<li class="dropdown">
    				<a href="#" class="button">Nieuws</a>
    					<nav class="dropdown-content">
      						<a href="Battleye.html">Battleye</a>
      						<a href="Blackice.html">Operation Black Ice</a>
      						<a href="Dustline.html">Operation Dust Line</a>
      						<a href="Skullrain.html">Operation Skull Rain</a>
      			</li>
    		</ul>
    	</nav>
	</nav>

<!-- /*===========================Menu=============================*/ -->

<!-- /*============================================MainPart=======================================================*/ -->

<!-- /*===========================Info=============================*/ -->
		<div class= "ad1">
		</div>

		<div class="informatie">
			

			<div class="informatie1">
			<img src="../assets/images/Battleye.png" alt="Skull">
				<h3 class="news_title">BattlEye Bans Over 3800 Cheaters in First Wave</h3>
				<p>The launch and integration of the first BETA iteration of BattlEye set forth in motion a dramatic change in the way we approach cheaters in Rainbow Six Siege that is more preventative. With this first wave of bans from BattlEye, we are establishing a firm stance to protect the game and the community for the long run. While it has already had a big impact, some of you may be wondering how well BattlEye has performed so far.</p>
					<br />
					<p><strong>We are excited to announce that in BattlEye’s first week of full integration, we banned over 3800 cheaters in the first wave.</strong></p>
					<p>In the future, BattlEye will be banning much more quickly, sometimes in real-time. Ban waves with longer delays can still happen, but usually bans for detected cheaters should take a few days maximum.</p>
					<p>We sat down with the R6 Technical Architect who had this to say: “We are continuously working with BattlEye through frequent updates in order to improve the detection of cheats. This will make a big difference in the long run.”</p>
					<p>The Dev team is dedicated to improving systems to prevent cheaters, and with the addition of BattlEye on top of FairFight we expect a more comfortable experience for our dedicated players. This is one of the key aspects of Season 3’s Health Program initiative, which you can read more about in this <a href="http://rainbow6.ubi.com/siege/en-US/news/detail.aspx?c=tcm:152-259842-16&amp;ct=tcm:148-76770-32">blog</a>.</p>
					<p>Moving forward, we will be taking many actions to prevent cheaters (some you’ll see, some you won’t) in order for you to fully enjoy the intensity and competitive nature of the game while being confident your game is fair.</p>
					<p>For more information on BattlEye, how it works and troubleshooting in case of a potential wrong ban, please check our detailed <a href="http://rainbow6.ubi.com/siege/en-US/news/detail.aspx?c=tcm:152-259860-16&amp;ct=tcm:148-76770-32">blog</a> and <a href="http://rainbow6.ubi.com/siege/en-US/news/detail.aspx?c=tcm:152-260134-16&amp;ct=tcm:148-76770-32">FAQ</a>.</p></p>
			
			</div>

		</div>

		<div class= "ad2">
		</div>

<!-- /*============================================MainPart=======================================================*/ -->

	</body>

<!-- /*=======================BodyEnd==============================*/ -->

</html>



