<!DOCTYPE html>
<html>

<!-- /*===========================Head=============================*/ -->

	<head>
		<title> Tim Waterham </title>
		<meta charset="UTF-8">
		<link href="../assets/style.css" rel="stylesheet" type="text/css" />
	</head>

<!-- /*===========================Head=============================*/ -->

<!-- /*============================================================*/ -->

<!-- /*=========================BodyStart==========================*/ -->

	<body>
		<div>

<!-- /*===========================Menu=============================*/ -->

	<nav class="dropdownmenu">
		<ul class="menu">
  			<li class="menu2"><a href="../index.html">Home</a></li>
  			<li class="menu2"><a href="">Over mijn Hobby</a></li>
  				<li class="dropdown">
    				<a href="#" class="button">Nieuws</a>
    					<nav class="dropdown-content">
      						<a href="Battleye.html">Battleye</a>
      						<a href="Blackice.html">Operation Black Ice</a>
      						<a href="Dustline.html">Operation Dust Line</a>
      						<a href="Skullrain.html">Operation Skull Rain</a>
      			</li>
    		</ul>
    	</nav>
	</nav>

<!-- /*===========================Menu=============================*/ -->

<!-- /*============================================MainPart=======================================================*/ -->

<!-- /*===========================Info=============================*/ -->
		<div class= "ad1">
		</div>

		<div class="informatie">

			<div class="informatie1">
			
			</div>

		</div>

		<div class= "ad2">
		</div>

<!-- /*============================================MainPart=======================================================*/ -->

	</body>

<!-- /*=======================BodyEnd==============================*/ -->

</html>



