<!DOCTYPE html>
<html>

<!-- /*===========================Head=============================*/ -->

	<head>
		<title> Tim Waterham </title>
		<meta charset="UTF-8">
		<link href="assets/style.css" rel="stylesheet" type="text/css" />
	</head>

<!-- /*===========================Head=============================*/ -->

<!-- /*============================================================*/ -->

<!-- /*=========================BodyStart==========================*/ -->

	<body>
		<div>

<!-- /*===========================Menu=============================*/ -->

	<nav class="dropdownmenu">
		<ul class="menu">
  			<li class="menu2"><a href="index.html">Home</a></li>
  			<li class="menu2"><a href="index.html">Over mijn Hobby</a></li>
  				<li class="dropdown">
    				<a href="#" class="button">Nieuws</a>
    					<nav class="dropdown-content">
      						<a href="news/Battleye.html">Battleye</a>
      						<a href="news/Blackice.html">Operation Black Ice</a>
      						<a href="news/Dustline.html">Operation Dust Line</a>
      						<a href="news/Skullrain.html">Operation Skull Rain</a>
      			</li>
    		</ul>
    	</nav>
	</nav>

<!-- /*===========================Menu=============================*/ -->

<!-- /*============================================MainPart=======================================================*/ -->

<!-- /*===========================Info=============================*/ -->
		<div class= "ad1">
		</div>

		<div class="informatie">
			

			<div class="informatie1">
			<img src="assets/images/Blackice.jpg" alt="Ice">
			<h1>Operation Black Ice</h1>
				<p>Continue the Siege with our first major content update, Operation Black Ice, which gives you access to the new Yacht map, two new JTF2 operators, new weapon skins, a spectator camera on all platforms and more. 

				JTF-2 operators are trained to work under extreme conditions, where over-reliance on electronic devices can be your doom.

				Operators have immediate and exclusive access granted to Season Pass holders for seven days, before being made available to all players to unlock with Renown or R6 Credits.</p>
				<a href="news/Blackice.html">Read More</a>
			</div>

			<div class="informatie2">
			<img src="assets/images/Dustline.jpg" alt="Dust">
			<h1>Operation Dust Line</h1>
				<p>In Operation Dust Line, two Navy SEAL Operators join Team Rainbow to secure the "Border" - our new free map. This second major content update also introduces new weapon skins, advanced customization options, the ability to change your loadouts between rounds and lots more.</p>
				<a href="news/Dustline.html">Read More</a>
			</div>

			<div class="informatie3">
			<img src="assets/images/Battleye.png" alt="Skull">
			<h1>Operation Skull Rain</h1>
				<p>In Operation Skull Rain, two BOPE Operators join Team Rainbow to pacify the Favela, our new free map. This third major content update aims to improve the game experience by adding countermeasures for toxic behavior, a new weapon attachment, several game enhancements, customization content and lots more.</p>
				<a href="news/Skullrain.html">Read More</a>
			</div>

			<div class="informatie4">
			<img src="assets/images/Battleye.png" alt="Skull">
			<h1>Battleye Bans over 3800 cheaters in First Wave</h1>
				<p>The launch and integration of the first BETA iteration of BattlEye set forth in motion a dramatic change in the way we approach cheaters in Rainbow Six Siege that is more preventative. With this first wave of bans from BattlEye, we are establishing a firm stance to protect the game and the community for the long run. While it has already had a big impact, some of you may be wondering how well BattlEye has performed so far.</p>
				<a href="news/Battleye.html">Read More</a>
			</div>
		</div>

		<div class= "ad2">
		</div>

<!-- /*============================================MainPart=======================================================*/ -->

	</body>

<!-- /*=======================BodyEnd==============================*/ -->

</html>



